.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #d8d8d8;
  color: #333;
}

h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: normal;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid #000;
  cursor: pointer;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}
